.chapter-list__item {
  margin: 1rem 0;
  // background: var(--color-grey-6);
  background: darken($color: #2C2A2E, $amount: 5%);
  padding: 32px;
  border-radius: 1rem;
  cursor: pointer;
  a {
    display: grid;
    grid-template-columns: auto 32px;
    align-content: center;
    text-decoration: none;
    align-items: center;
  }

  &:hover {
    background: var(--color-grey-6);
    color: var(--color-grey-0);
  }
}
