.chapter-list__item {
  margin: 1rem 0;
  // background: var(--color-grey-6);
  background: darken($color: #2c2a2e, $amount: 5%);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.25s;
  a {
    display: grid;
    grid-template-columns: auto 32px;
    align-content: center;
    text-decoration: none;
    align-items: center;
    padding: 32px;
  }

  &__chapter-number {
    font-family: "GT Eesti Pro Text-Regular";
    font-size: $fs-base;
    display: block;
    color: var(--color-grey-5);
  }

  &__chapter-name {
    font-family: 'GT America-Expanded Medium';
    font-size: 30px;
    color: var(--color-white);
  }

  &:hover {
    background: var(--color-grey-6);
    span{
      color: var(--color-grey-0);
    }
  }
}

// For the intermediary chapter announcement
.chapter-list__inter {
  padding: $sp-md;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--color-yellow-4);
  background-image: url(../images/inter-art.svg), url(../images/inter-bg.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -35px center, center center;
  background-size: auto, cover;
  border-radius: 8px;
  height: 380px;
  width: 100%;
  div {
    width: 65%;
  }
}

