.chapter-list__item {
  margin: 1rem 0;
  // background: var(--color-grey-6);
  background: darken($color: #2c2a2e, $amount: 5%);
  border-radius: 1rem;
  cursor: pointer;
  a {
    display: grid;
    grid-template-columns: auto 32px;
    align-content: center;
    text-decoration: none;
    align-items: center;
    padding: 32px;
  }

  &__chapter-number {
    font-family: "GT Eesti Pro Text-Regular";
    font-size: 20px;
    display: block;
    color: var(--color-grey-5);
  }

  &__chapter-name {
    font-family: 'GT America-Expanded Medium';
    font-size: 30px;
    color: var(--color-white);
  }

  &:hover {
    background: var(--color-grey-6);
    span{
      color: var(--color-grey-0);
    }
  }
}
