.chapter_switcher {
  // background: var(--color-grey-minus1);
  background: var(--color-blue-0);
  border-radius: $sp-xs;
  display: grid;
  grid-template-rows: 1fr 7.2rem;
  overflow: hidden;

  &__content {
    padding: $sp-base;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;

    h3,
    h4 {
      text-align: center;
    }

    img {
      margin-bottom: -30%;
      width: 65%;
      pointer-events: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0rem;
      left: 0;
      right: 0;
      height: 200px;
      background: linear-gradient(
        180deg,
        rgba(5, 27, 111, 0) 34.48%,
        #051b6f 132.51%
      );
    }
  }

  &__controls {
    background-color: var(--color-blue-1);
    border-bottom-left-radius: $sp-xs;
    border-bottom-right-radius: $sp-xs;
    display: grid;
    grid-template-columns: 1fr 7.2rem 1fr;
    grid-gap: 2px;

    &__button {
      color: white;
      background-color: var(--color-blue-0);
      transition: all 0.25s $ease-in-out;
      &:hover {
        background: var(--color-grey-6);
        color: var(--color-grey-0);
      }

      &--icon-button {
        display: flex;
        background-color: var(--color-blue-0);
        align-items: center;
        justify-content: center;
        &:hover {
          svg {
            transform: scale(0.96);
          }
          background: var(--color-grey-minus1);
          color: var(--color-grey-0);
        }
      }
    }
  }
}
