.inline-sidebar {

  // Styling the default scrollbar
  &::-webkit-scrollbar {
    width: 1rem;
    background: var(--color-grey-minus2);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-minus1);
    outline: none;
  }

  position: fixed;
  color: var(--color-white);
  top: 0;
  left: 0;
  width: auto;
  max-width: 65rem;
  height: 100vh;
  background-color: var(--color-grey-minus2);
  z-index: 3;
  transition: transform 0.3s $ease-in-out;
  overflow-y: scroll;
  overflow-x: visible;
  padding-bottom: $sp-lg;

  &__toggle-button {
    position: fixed;
    left: 2.4rem;
    top: 2.4rem;
    background: red;
    transition: transform 0.3s $ease-in-out;
    z-index: 3;
  }

  &__top {
    padding: 0 $sp-lg 0 $sp-lg;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: $sp-base;
    align-items: end;

    div {
      h2 {
        span {
          display: block;

          &:nth-child(2) {
            margin-top: -$sp-sm/2;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 0 $sp-lg 0 $sp-lg;
  }

  .chapter-list__item {
    a {
      padding: $sp-base $sp-md;
      margin-top: $sp-sm;
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}