.mobile-sidebar {
  /* Variables */
  --control-strip-height: 64px;

  position: fixed;
  z-index: 999999;
  width: 100vw;
  background: red;
  max-height: calc(100vh);
  min-height: calc(100vh);
  z-index: 9999;
  transform: translateY(calc(100% - var(--control-strip-height)));
  transition: transform 0.25s $ease-in-out;
  border-top-right-radius: $sp-sm;
  border-top-left-radius: $sp-sm;

  &__control-strip {
    width: 100%;
    height: var(--control-strip-height);
    background: black;

    button {
      color: white;
      background: blue;
      height: 100%;
    }
  }

  &__index {
    background: green;
    height: calc(100% - var(--control-strip-height));
    overflow-y: scroll;
  }
}
