// For the Home Screen
.word {
  display: inline-block;
  overflow: hidden;
  margin-bottom: -0.25em; // fix a weird line-height bug due to Splitting
  transition: transform 0.5s calc(var(--word-index) * 0.1s) cubic-bezier(0,.71,.15,1.03);  
  transform: translateY(100%);


  // .char {
  //   display: inline-block;
  //   transition: transform 0.5s calc(var(--char-index) * 0.035s) cubic-bezier(0.64, 0.04, 0.35, 1);
  //   transform: translateY(100%);
  // }

  // .show & .char {
  //   transform: translateY(0);
  // }
}

.show .word {
  transform: translateY(0);
}
