.chapter-view {
  background: var(--color-grey-6);
  width: 100vw;

  &__title {
    overflow: hidden;
  }

  &__hero {
    position: relative;
    width: 100%;
    background: var(--color-grey-minus1);
    display: grid;
    justify-content: center;
    padding-top: 15rem;

    img {
      padding-top: 5rem;
      width: 60%;
      // max-width: 800px;
      margin: 0 auto;
      // transform: translateX(-50px);
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 30rem;
      background: var(--color-grey-0);
      bottom: 0;
      z-index: 0;
    }

    h1,
    h3 {
      color: var(--color-white);
      text-align: center;
    }

    h3 {
      overflow: hidden;
    }

    h1 > span,
    h3 > span {
      display: inline-block;
    }

    h1 {
      margin-top: -1rem;
      text-transform: uppercase;
      overflow: hidden;
      span {
        display: inline-block;
      }
    }
  }

  &__content {
    width: 100vw;
    background: var(--color-grey-0);
    color: var(--color-grey-6);
    article {
      padding: 10rem 0;
      width: 85%;
      margin: 0 auto;
      min-width: 960px;
      max-width: 960px;

      p {
        padding: 1.2rem 0 1.2rem 0;
      }
    }
  }
}
