.chapter-view {
  background: var(--color-grey-0);
  width: 100vw;

  .katex-display {
    overflow-y: hidden;
    overflow-x: auto;
  }

  &__ham {
    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: 999;
    transition: transform 0.25s $ease-in-out;
  }

  &__number {
    color: var(--color-grey-5);
    @media (max-width: $tablet) {
      font-size: clamp($fs-sm, $fs-md, 4.5vw);
    }
  }

  &__title {
    overflow: hidden;
    color: var(--color-white);

    @media (max-width: $tablet) {
      font-size: clamp($fs-sm, $fs-xl, 7.5vw);
    }
  }

  &__hero {
    position: relative;
    width: 100%;
    background: var(--color-grey-minus1);
    display: grid;
    justify-content: center;
    padding-top: 15rem;
    @media (max-width: $tablet) {
      padding-top: 5rem;
    }

    img {
      padding-top: 5rem;
      max-width: 60%;
      margin: 0 auto;
      z-index: 1;

      @media (max-width: $large-desktop) {
        max-width: 70%;
      }

      @media (max-width: $tablet) {
        max-width: 90vw;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 30rem;
      background: var(--color-grey-0);
      bottom: 0;
      z-index: 0;
    }

    h1,
    h3 {
      text-align: center;
      @media (max-width: 1200px) {
        z-index: 2;
      }
    }

    h3 {
      overflow: hidden;
    }

    h1 > span,
    h3 > span {
      display: inline-block;
    }

    h1 {
      margin-top: -1rem;
      text-transform: uppercase;
      overflow: hidden;
      span {
        display: inline-block;
      }
    }
  }

  &__content {
    width: 100vw;
    background: var(--color-grey-0);
    color: var(--color-grey-6);
    article {
      padding: 10rem 0;
      margin: 0 auto;
      width: 80%;
      max-width: 60ch;

      blockquote {
        position: relative;
        font-style: oblique;
        padding-left: $sp-base;
        margin: $sp-sm 0;
        &:after {
          content: "";
          display: block;
          background-color: var(--color-white);
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 2px;
        }
      }
      p {
        padding: $sp-base 0 $sp-base 0;

        .gatsby-resp-image-wrapper {
          margin: $sp-xl 0;
        }
      }

      ol {
        list-style: decimal;
      }

      hr {
        border: none;
        color: var(--color-white);
        letter-spacing: 1em;
        text-align: center;
        margin: $sp-base 0;
        &:after {
          content: "...";
        }
      }

      .gatsby-resp-image-figcaption {
        text-align: center;
        font-size: $fs-sm;
        color: var(--color-grey-4);
        font-style: normal;
      }

      @media (max-width: $tablet) {
        padding-top: 5rem;
      }

      @media (max-width: $mobile) {
        width: 90%;
        padding-top: 2rem;
        font-size: $fs-md;
        line-height: $ln-md;
      }
    }
  }
}
