// Has css for home page and LeftSideContent and RightSideContent

.home-page{
  /* Variables */
  --padding: 0px;
  --columns: 5;
  --gutter: 0px;
  --width: 100vw;

  /* Styles */
  padding: var(--padding);
  background: var(--color-grey-6);
  display: grid;
  width: var(--width);
  margin: 0 auto;
  position: relative;

  /*
  grid-template-columns: repeat(
    var(--columns),
    calc(((var(--width) - (2 * var(--padding)) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))
  );
  */
  grid-template-columns: 40vw 60vw;
  grid-gap: var(--gutter);

  &__left {
    // This left is not a grid item
    position: fixed;
    justify-self: stretch;
    overflow-y: scroll;
    max-width: 40vw;
    height: 100vh;
    padding: 0 40px 64px 40px;
    // background: var(--color-white);
    background: #2C2A2E;

    &__title {
      font-size: 64px;
      color: white;
      font-family: 'GT America-Expanded Bold';
      text-transform: uppercase;
      &--word-one, &--word-two {
        display: inline-block;
        overflow: hidden;
      }

      &--word-two {
        margin-top: -3rem;
      }
    }

    &::before {
      display: block;
      content: '';
      top: 0;
      height: 300px;
      width: 180px;
      background: var(--color-blue-0);
    }

    &__chapter-list {}
     
  }

  &__right {
    background: blue;
    justify-self: stretch;
    grid-column: 2/-1;
    max-width: 60vw;
    max-height: 100vh;
    overflow-y: scroll;
    background: var(--color-grey-6);
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    img {
      scroll-snap-align: start;
      width: 60%;
      max-width: 1000px;
      margin: 13rem auto 0 auto;
    }
    div {
      scroll-snap-align: start;
    }
  }

}
