// Has css for home page and LeftSideContent and RightSideContent

.home-page {
  /* Variables */
  --padding: 0px;
  --columns: 5;
  --gutter: 0px;
  --width: 100vw;

  /* Styles */
  padding: var(--padding);
  background: var(--color-grey-6);
  display: grid;
  width: var(--width);
  margin: 0 auto;
  position: relative;

  /*
  grid-template-columns: repeat(
    var(--columns),
    calc(((var(--width) - (2 * var(--padding)) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))
  );
  */
  grid-template-columns: 40vw 60vw;
  grid-gap: var(--gutter);

  &__left {
    // This left is not a grid item
    position: fixed;
    justify-self: stretch;
    overflow-y: scroll;
    max-width: 40vw;
    height: 100vh;
    padding: 0 40px 64px 40px;
    // background: var(--color-white);
    background: #2c2a2e;
    @include font-sm;

    @media (max-width: 1500px) {
      visibility: hidden;
      display: none;
    }

    &__title {
      color: white;
      text-transform: uppercase;
      margin-bottom: 0;
      // font-size: clamp($fs-md, 3.6vw, $fs-xl);
      &--word-one,
      &--word-two {
        display: inline-block;
        overflow: hidden;
      }
      &--word-two {
        margin-top: -3rem;
      }
    }

    &__flap {
      display: block;
      content: "";
      top: 0;
      height: 320px;
      width: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../images/topart.png);
    }

    &__donut1 {
      position: absolute;
      right: -16rem;
      top: -16rem;
    }
  }

  &__right {
    grid-column: 2/-1;
    max-width: 60vw;
    height: auto;
    // max-height: 100vh;
    // min-height: 100vh;
    overflow-y: scroll;
    background: var(--color-grey-6);

    @media (max-width: $large-desktop) {
      grid-column: -1/1;
      max-width: 100vw;
    }

    & > section {
      width: 85%;
      margin: 0 auto;
    }

    &__header-resp {
      width: 100vw !important;
      background: var(--color-grey-2);
      overflow: visible;
      // background: green;

      &__title {
        color: white;
        width: 50%;
        margin: 0 auto;
        &__flap {
          display: block;
          content: "";
          height: 320px;
          min-width: 200px;
          margin-bottom: $sp-xl;
          margin-top: -2 * $sp-xl;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(../images/topart.png);
        }

        @media (max-width: $tablet) {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            text-align: center;
          }
          &__flap {
            margin-top: -25rem;
          }
        }

        @media (max-width: $mobile) {
          &__flap {
            max-height: 180px;
            margin-top: -20px;
            background-position: 50% 50%;
          }
        }
      }
    }

    &__index-resp {
      position: relative;
      width: 100vw !important;
      background: var(--color-grey-0);
      padding: $sp-lg;
      z-index: 2;
      margin-top: -15rem !important;

      & > ul {
        display: grid;
        grid-gap: $sp-base;
        /// TODO: FIX THIS
        grid-template-columns: 1fr 1fr;

        // Hanging media query
        @media (max-width: 1218px) {
          grid-template-columns: 1fr;
        }

        li {
          margin: 0;
        }
      }

      @media (min-width: $large-desktop) {
        display: none;
        visibility: hidden;
      }
    }

    &__hero {
      position: relative;
      max-height: 100vh;
      min-height: 100vh;
      overflow: hidden;
      display: grid;
      justify-items: center;
      align-items: end;
      z-index: 0;

      @media (max-width: $large-desktop) {
        background: var(--color-grey-2);
        width: 100vw !important;
      }

      @media (max-width: $tablet) {
        min-height: auto;
      }

      &__desk-heroine {
        min-height: 100vh;
        max-height: 100vh;
        z-index: 1;
      }
      &__lottie-1 {
        position: absolute;
        top: calc(10%);
        left: calc(52% / 2 - (52% / 5) - 7rem);
        z-index: 0;
      }
      &__lottie-2 {
        position: absolute;
        right: calc(52% / 2 - 10rem);
        bottom: calc(20%);
      }

      &__mobile-heroine {
        max-height: 96vh;
        overflow: visible;
        // max-width: 55%;
        // margin-bottom: -10rem;
        @media (max-width: $tablet) {
          width: 70%;
          padding: 0;
        }
      }
    }

    &__end {
      width: 100% !important;
      &__content {
        @extend .chapter-end;
        max-width: unset;
        a {
          background: none;
        }
        .chapter-end__next-chapter {
          background: var(--color-grey-6);
          h3 {
            color: var(--color-blue-0);
            visibility: hidden;
          }
          h4 {
            color: var(--color-blue-2);
            visibility: hidden;
          }
          img {
            width: 45vw;
            bottom: -30rem;
            transform: translateX(-55%);
            // filter: none;
            z-index: 1;
          }
          &::after {
            z-index: 0;
            opacity: 30%;
            height: 100%;
            background: linear-gradient(
              180.96deg,
              rgba(11, 42, 158, 0) 19.59%,
              #0b2a9e 154.92%
            );
          }
        }
      }
    }
  }
}
