.home-page{
  /* Variables */
  --padding: 0px;
  --columns: 5;
  --gutter: 0px;

  /* Styles */
  width: 100%;
  padding: var(--padding);
  background: var(--color-grey-6);
  display: grid;

  // formula: (window-width - (padding + (gutter * (columns - 1))) / columns) - gutter
  // because there's fewer gutters than columns, we only subtract it once from the window-width
  // This is used to divide the window into columns of equal width and in the number of 
  // columns
  grid-template-columns: repeat(
    var(--columns),
    calc(((100vw - (2 * var(--padding)) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))
  );
  grid-gap: var(--gutter);

  &__left {
    justify-self: stretch;
    grid-column: 1/3 ;
    padding: 0 40px 0 40px;
    background: var(--color-white);

    &::before {
      display: block;
      content: '';
      top: 0;
      height: 200px;
      width: 100px;
      background: var(--color-blue-0);
    }

    &__chapter-list {}
     
  }

  &__right {
    justify-self: stretch;
    grid-column: 3/-1;
  }

}
