// Has css for home page and LeftSideContent and RightSideContent

.home-page{
  /* Variables */
  --padding: 0px;
  --columns: 5;
  --gutter: 0px;
  --width: 100vw;

  /* Styles */
  padding: var(--padding);
  background: var(--color-grey-6);
  display: grid;
  width: var(--width);
  margin: 0 auto;
  position: relative;

  /*
  grid-template-columns: repeat(
    var(--columns),
    calc(((var(--width) - (2 * var(--padding)) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))
  );
  */
  grid-template-columns: 40vw 60vw;
  grid-gap: var(--gutter);

  &__left {
    // This left is not a grid item
    position: fixed;
    justify-self: stretch;
    overflow-y: scroll;
    max-width: 40vw;
    height: 100vh;
    padding: 0 40px 64px 40px;
    // background: var(--color-white);
    background: #2C2A2E;
    font-size: $fs-base;

    &__title {
      color: white;
      text-transform: uppercase;
      margin-bottom: 0;
      &--word-one, &--word-two {
        display: inline-block;
        overflow: hidden;
      }
      &--word-two {
        margin-top: -3rem;
      }
    }

    &__flap {
      display: block;
      content: '';
      top: 0;
      height: 320px;
      width: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../images/topart.png);
    }

    &__chapter-list {}

    &__donut1 {
      position: absolute;
      right: -16rem;
      top: -16rem;
    }
     
  }

  &__right {
    grid-column: 2/-1;
    max-width: 60vw;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    background: var(--color-grey-6);
    padding: 0 0 200vh;
    &__hero {
      position: relative;
      max-height: 100vh;
      min-height: 100vh;
      overflow: hidden;
      display: grid;
      justify-items: center;
      align-items: end;
      img {
        max-width: 52%;
        padding-top: 10rem;
        z-index: 1;
      }
      &__lottie-1 {
        position: absolute;
        top: 8rem;
        left: 15rem;
        z-index: 2;
      }
      &__lottie-2 {
        position: absolute;
        top: 55rem;
        right: 25rem;
      }
    }

    &__rest {
      width: 80%;
      margin: 0rem auto 10rem auto;
    }
  }

}
