:root {
  // COLOR VARIABLES

  // BLUE
  --color-blue-0: #0B2A9E;
  --color-blue-1: #3A54B6;
  --color-blue-2: #6680E1;
  --color-blue-3: #8BA0EE;
  --color-blue-4: #A3B7FF;
  --color-blue-5: #C2CFFF;
  --color-blue-6: #DBE3FF;

  // YELLOW
  --color-yellow-0: #423705;
  --color-yellow-1: #725B09;
  --color-yellow-2: #867627;
  --color-yellow-3: #AA9631;
  --color-yellow-4: #ECD66A;
  --color-yellow-5: #F4E983;
  --color-yellow-6: #F5EFBD;

  // GREY
  --color-grey-0: #112D32;
  --color-grey-1: #28545C;
  --color-grey-2: #286A76;
  --color-grey-3: #508791;
  --color-grey-4: #75AAB3;
  --color-grey-5: #BDD6DB;
  --color-grey-6: #E1F2F5;

  // WHITE
  --color-white: #ffffff;

  // GRID VARIABLES
  --columns: 6;
  --gutter: 10px;

}