:root {
  // COLOR VARIABLES

  // BLUE
  --color-blue-0: #0b2a9e;
  --color-blue-1: #3a54b6;
  --color-blue-2: #6680e1;
  --color-blue-3: #8ba0ee;
  --color-blue-4: #a3b7ff;
  --color-blue-5: #c2cfff;
  --color-blue-6: #dbe3ff;

  // YELLOW
  --color-yellow-0: #423705;
  --color-yellow-1: #725b09;
  --color-yellow-2: #867627;
  --color-yellow-3: #aa9631;
  --color-yellow-4: #ecd66a;
  --color-yellow-5: #f4e983;
  --color-yellow-6: #f5efbd;

  // GREY

  --color-grey-minus2: #0e0d0f;
  --color-grey-minus1: #1b1a1c;
  --color-grey-0: #112d32;
  --color-grey-1: #28545c;
  --color-grey-2: #286a76;
  --color-grey-3: #508791;
  --color-grey-4: #75aab3;
  --color-grey-5: #bdd6db;
  --color-grey-6: #e1f2f5;

  // WHITE
  --color-white: #ffffff;
}
