// Sizes
$fs-sm: 2rem;
$fs-base: 2.6rem;
$fs-md: 3.4rem;
$fs-lg: 4.4rem;
$fs-xl: 6.4rem;

// Line heights
$ln-sm: 3.2rem;
$ln-base: 4rem;
$ln-md: 4.5rem;
$ln-lg: 5.8rem;
$ln-xl: 6.4rem;

@mixin heading-common {
  margin: 0;
}

@mixin font-sm {
  line-height: $ln-sm;
  font-size: $fs-sm;
}

@mixin font-base {
  line-height: $ln-base;
  font-size: $fs-base;
}

@mixin font-h1 {
  @include heading-common;
  line-height: $ln-xl;
  font-size: $fs-xl;
  font-family: "GT America-Expanded Black";
}

@mixin font-h2 {
  @include heading-common;
  font-size: $fs-lg;
  line-height: $ln-lg;
  font-family: "GT America-Expanded Bold";
}

@mixin font-h3 {
  @include heading-common;
  font-family: "GT America-Expanded Medium";
  font-size: $fs-md;
  line-height: $ln-md;
}

@mixin font-h4 {
  @include heading-common;
  font-family: "GT America-Expanded Regular";
  font-size: $fs-sm;
  line-height: $ln-base;
  font-weight: normal;
}
