$heading-font: 'GT America-Expanded Black', sans-serif;
$heading3-font: 'GT America-Expanded Medium', sans-serif;

$fs-sm: 1.8rem;
$fs-base: 2.6rem;
$fs-md: 3rem;
$fs-lg: 6.5rem;
// $fs-xl: ;

@mixin font-base {
  line-height: 4.2rem; 
  font-size: $fs-base;
}

@mixin font-heading {
  font-family: $heading-font;
  line-height: 100%;
}

@mixin font-h1 {
  font-size: $fs-lg;
}

@mixin font-h2 {
  font-size: $fs-md;
}

@mixin font-h3 {
  font-family: $heading3-font;
  font-size: $fs-md;
}

@mixin font-h4 {
  font-family: $heading3-font;
  font-size: $fs-sm;
}

