// list of z-indexes
$z-layers: (
  "footer": 700,
);

// Spacing
$sp-xxs: 0.4rem;
$sp-xs: 0.8rem;
$sp-sm: 1.6rem;
$sp-base: 2.4rem;
$sp-md: 3.2rem;
$sp-lg: 4rem;
$sp-xl: 4.8rem;
$sp-xxl: 5.6rem;

// Easings
$ease-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out: cubic-bezier(0, 0.71, 0.15, 1.03);

// Durations
$d-fast: 0.125s;
$d-normal: 0.25s;
$d-slow: 0.5s;
$d-slower: 1.5s;
$d-slowest: 2.25s;
